.content {
  width: 1200px;
  margin: auto;
  height: 100%;
}

.clearfix::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

#goodslist {
  height: 100%;
  overflow: hidden;
}

#goodslist .header {
  width: 100%;
  height: 130px;
}

#goodslist .header .content {
  position: relative;
}

#goodslist .header h1 {
  position: absolute;
  font-size: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#goodslist .header .language {
  width: 86px;
  box-sizing: border-box;
  padding-left: 30px;
  height: 28px;
  border-right: 1px solid #cccccc;
  margin-top: 62px;
  position: relative;
  display: inline-block;
}

#goodslist .header .language span {
  font-size: 11px;
  line-height: 28px;
  vertical-align: middle;
}

#goodslist .header .language i {
  display: inline-block;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: black;
  vertical-align: middle;
  position: absolute;
  top: 12px;
  left: 60px;
}

#goodslist .header .language:hover {
  color: gold;
  cursor: pointer;
}

#goodslist .header .language:hover i {
  border-top-color: gold;
}

#goodslist .header .rmb {
  margin-left: 22px;
  font-size: 10px;
  color: #333333;
}

#goodslist .header .denglu {
  margin-top: 62px;
  font-size: 0;
}

#goodslist .header .denglu span {
  display: inline-block;
  height: 28px;
  padding: 0 18px;
  border-right: 1px solid #cccccc;
  font-size: 12px;
  line-height: 28px;
  vertical-align: middle;
}

#goodslist .header .denglu span a {
  color: black;
}

#goodslist .header .denglu span a:hover {
  text-decoration: underline;
  color: gold;
}

#goodslist .header .denglu i {
  font-size: 22px;
  padding: 0 12px;
  vertical-align: middle;
}

#goodslist .header .denglu i:hover {
  color: #ffb81c;
  cursor: pointer;
}

#goodslist .nav {
  width: 100%;
  height: 50px;
  background: #000000;
  position: relative;
}

#goodslist .nav .nav1 {
  height: 50px;
  width: 900px;
  float: left;
}

#goodslist .nav .nav1 li {
  float: left;
  height: 100%;
}

#goodslist .nav .nav1 li a {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding-right: 50px;
  font-size: 14px;
  color: #ffb81c;
  line-height: 50px;
  position: relative;
}

#goodslist .nav .nav1 li .nav-title::after {
  content: '';
  display: inline-block;
  position: absolute;
  border: 5px solid transparent;
  border-bottom-color: white;
  bottom: 0;
  left: 10px;
  display: none;
}

#goodslist .nav .nav1 li #shouye::after {
  content: '';
  border-bottom-color: transparent;
}

#goodslist .nav .nav1 li .nav2 {
  position: absolute;
  width: 100%;
  background: white;
  height: 20px;
  padding: 40px 0 60px 0;
  z-index: 10;
  left: 0;
  height: auto;
  font-size: 0;
  overflow: hidden;
  display: none;
  z-index: 15;
}

#goodslist .nav .nav1 li .nav2 ul {
  width: 1200px;
  margin: 0 auto;
}

#goodslist .nav .nav1 li .nav2 ul .li1 {
  width: 400px;
  height: auto;
}

#goodslist .nav .nav1 li .nav2 ul .li2 {
  width: 600px;
  height: auto;
}

#goodslist .nav .nav1 li .nav2 ul h4 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 25px;
}

#goodslist .nav .nav1 li .nav2 ul a {
  width: 200px;
  height: 40px;
  font-size: 13px;
  color: #666;
  padding: 0;
  line-height: 14px;
}

#goodslist .nav .nav1 li .nav2 ul a:hover {
  text-decoration: underline;
}

#goodslist .nav .nav1 li:hover .nav-title::after {
  display: inline-block;
}

#goodslist .nav .nav1 li:hover .nav2 {
  display: block;
}

#goodslist .nav .nav1 li:hover .nav-title {
  color: white;
}

#goodslist .nav .search {
  margin-top: 11px;
  height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

#goodslist .nav .search span {
  flex: 1;
  text-align: right;
  font-size: 14px;
  color: #ffb81c;
}

#goodslist .nav .search i {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin-left: 10px;
  font-size: 16px;
  color: #ffb81c;
  transition: all 0.5s;
}

#goodslist .nav .search input {
  width: 0;
  height: 28px;
  background: #000000;
  color: #666;
  transition: all 0.5s;
}

#goodslist .list-title {
  background: #ededed;
}

#goodslist .list-title .page-title {
  font-size: 12px;
  padding: 25px 0 16px 0;
  line-height: 19px;
  position: relative;
}

#goodslist .list-title .page-title a {
  color: #666;
}

#goodslist .list-title .page-title a:hover {
  color: #5d0e23;
}

#goodslist .list-title .page-title em {
  display: inline-block;
  width: 20px;
  height: 12px;
  padding: 0 5px;
  margin-top: -1px;
}

#goodslist .list-title .page-cont {
  box-shadow: #cccccc 0px 2px 5px;
  background: #fff;
  width: 1200px;
}

#goodslist .list-title .page-cont dl {
  border-bottom: 1px dashed #ededed;
  min-height: 46px;
  clear: both;
  position: relative;
  overflow: hidden;
  background: #f5f5f5;
}

#goodslist .list-title .page-cont dl dt {
  float: left;
  width: 81px;
  padding-left: 30px;
  line-height: 45px;
  color: #666;
  font-size: 12px;
}

#goodslist .list-title .page-cont dl dd {
  padding: 4px 0 10px 0;
  width: 1088px;
  overflow: hidden;
  background: white;
}

#goodslist .list-title .page-cont dl dd a {
  display: inline-block;
  width: 155px;
  height: 22px;
  line-height: 22px;
  text-indent: 5px;
  margin: 5px 5px 5px 0;
  padding-left: 5px;
  position: relative;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 22px 0 10px;
  color: #666;
  font-size: 12px;
}

#goodslist .list-title .page-cont dl dd a:hover {
  color: red;
}

#goodslist .list {
  background: #ededed;
  padding: 40px 0;
}

#goodslist .list .content {
  box-shadow: #cccccc 0px 2px 5px;
}

#goodslist .list .content .goodslist-title {
  background: #fff;
  height: 40px;
}

#goodslist .list .content .goodslist-title a {
  color: #e93b39;
  border-top: 2px solid #e93b39;
  padding: 0 30px;
  height: 29px;
  display: inline-block;
  font: normal 18px/18px "microsoft yahei";
  color: #999;
  text-align: center;
  padding-top: 9px;
  position: relative;
}

#goodslist .list .content .goodslist-paixu {
  padding: 10px 30px 0;
  min-height: 30px;
  background: #f5f5f5;
  font-size: 0;
  position: relative;
}

#goodslist .list .content .goodslist-paixu .paixu-type {
  display: inline-block;
}

#goodslist .list .content .goodslist-paixu .paixu-type a {
  display: inline-block;
  line-height: 20px;
  background: #fff;
  width: 45px;
  height: 22px;
  position: relative;
  text-align: center;
  border: 1px solid #ededed;
  margin-left: -1px;
  color: #666;
  font-size: 12px;
}

#goodslist .list .content .goodslist-paixu .paixu-type a i {
  font-size: 10px;
}

#goodslist .list .content .goodslist-paixu .paixu-type .active {
  background: #e93b39;
  border-color: #e93b39;
  color: #fff;
}

#goodslist .list .content .goodslist-paixu .paixu-jiage {
  display: inline-block;
  width: 200px;
  height: 44px;
  overflow: hidden;
  vertical-align: middle;
  margin: -10px 10px 0 0;
}

#goodslist .list .content .goodslist-paixu .paixu-jiage .qujian {
  width: 200px;
  height: 24px;
  padding: 10px 10px 0;
  font-size: 0;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

#goodslist .list .content .goodslist-paixu .paixu-jiage .qujian i {
  font-size: 20px;
  padding: 0 5px;
  vertical-align: middle;
}

#goodslist .list .content .goodslist-paixu .paixu-jiage .qujian input {
  width: 40px;
  height: 20px;
  border: 0 none;
  margin-top: 4px;
  vertical-align: middle;
  font-size: 12px;
  line-height: 20px;
}

#goodslist .list .content .goodslist-paixu .paixu-jiage .qujian #btn {
  margin-left: 10px;
  background: #e93b39;
  color: white;
  cursor: pointer;
}

#goodslist .list .content .goodslist-paixu .paixu-search {
  width: 192px;
  height: 44px;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  margin: -10px 0 0 0;
}

#goodslist .list .content .goodslist-paixu .paixu-search div {
  position: relative;
  width: 192px;
  height: 24px;
  padding: 10px 0 0;
  font-size: 0;
  vertical-align: middle;
}

#goodslist .list .content .goodslist-paixu .paixu-search div input {
  width: 149px;
  height: 22px;
  display: inline-block;
  border: 1px solid #ededed;
  background-color: #fff;
  border-right: none;
  padding-left: 5px;
}

#goodslist .list .content .goodslist-paixu .paixu-search div a {
  width: 40px;
  height: 19px;
  padding-top: 3px;
  height: 18px\9;
  padding-top: 4px\9;
  display: inline-block;
  position: absolute;
  right: 1px;
  top: 10px;
  text-align: center;
  color: #666;
  border: 1px solid #ededed;
  background: #fff;
  font-size: 12px;
}

#goodslist .list .content .goodslist-paixu .paixu-pages {
  position: absolute;
  right: 30px;
  top: 12px;
  height: 20px;
}

#goodslist .list .content .goodslist-paixu .paixu-pages #page-prve {
  color: #bfbfbf;
  cursor: not-allowed;
  border: 1px solid #ccc;
}

#goodslist .list .content .goodslist-paixu .paixu-pages #page-next {
  color: #333333;
  cursor: pointer;
  border: 1px solid #ccc;
}

#goodslist .list .content .goodslist-paixu .paixu-pages a {
  width: 18px;
  height: 18px;
  line-height: 0px;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}

#goodslist .list .content .goodslist-paixu .paixu-pages span {
  height: 20px;
  line-height: 19px;
  padding: 0 10px;
  color: #333;
  font-size: 12px;
}

#goodslist .list .content .goodslist-paixu .paixu-pages span b {
  font-weight: normal;
  color: #e93b39;
}

#goodslist .list .content .goodslist-list {
  background: #fff;
  font-size: 0;
  padding: 30px 20px 2px;
}

#goodslist .list .content .goodslist-list dl {
  width: 240px;
  height: 360px;
  margin: 0 25px 56px 25px;
  vertical-align: top;
  position: relative;
  float: left;
}

#goodslist .list .content .goodslist-list dl .goods-show {
  transition: border-color 1s cubic-bezier(0.35, 0.2, 0.55, 1);
  border-color: #dedcdc;
}

#goodslist .list .content .goodslist-list dl .goods-show dt {
  width: 240px;
  height: 240px;
  cursor: pointer;
}

#goodslist .list .content .goodslist-list dl .goods-show dt img {
  width: 100%;
  height: 100%;
}

#goodslist .list .content .goodslist-list dl .goods-show .dl_tips {
  height: 16px;
  width: 240px;
  font-size: 0;
  margin-top: 15px;
}

#goodslist .list .content .goodslist-list dl .goods-show .dl_tips .fr {
  font-size: 10px;
  line-height: 14px;
  color: orange;
  margin: 5px;
}

#goodslist .list .content .goodslist-list dl .goods-show .dl_tips span {
  background: #000;
  line-height: 14px;
  padding: 0 4px;
  height: 16px;
  margin: 0 3px 0 0;
  color: #fff;
  display: inline-block;
  font-size: 12px;
}

#goodslist .list .content .goodslist-list dl .goods-show .dl_name {
  height: 28px;
  padding: 8px 0 3px;
  overflow: hidden;
  border-top: 1px solid #ebebeb;
  margin-top: 10px;
}

#goodslist .list .content .goodslist-list dl .goods-show .dl_name a {
  color: #666;
  line-height: 15px;
  font-size: 12px;
}

#goodslist .list .content .goodslist-list dl .goods-show .dl_name a:hover {
  text-decoration: underline;
}

#goodslist .list .content .goodslist-list dl .goods-show .dl_price {
  padding-top: 3px;
}

#goodslist .list .content .goodslist-list dl .goods-show .dl_price .goods-price {
  float: left;
  line-height: 16px;
  font-size: 12px;
  font-weight: bold;
}

#goodslist .list .content .goodslist-list dl .goods-show .dl_price .fr {
  line-height: 20px;
  font-size: 12px;
  color: #999;
  cursor: pointer;
  display: none;
}

#goodslist .list .content .goodslist-list dl .goods-show .dl_price .fr:hover {
  color: #e93b39;
}

#goodslist .list .content .goodslist-list dl:hover .goods-show {
  width: 240px;
  border: 2px solid #ededed;
  background: #fff;
  position: absolute;
  left: -16px;
  top: -26px;
  padding: 24px 14px 15px;
}

#goodslist .list .content .goodslist-list dl:hover #dl_sc {
  display: inline;
}

#goodslist .footer {
  height: 490px;
  background: #ffb81c;
  padding-top: 40px;
  font-size: 16px;
}

#goodslist .footer .footer-ul {
  width: 100%;
}

#goodslist .footer .footer-ul .f-left {
  width: 325px;
  float: left;
}

#goodslist .footer .footer-ul .f-left h4 {
  margin-bottom: 26px;
}

#goodslist .footer .footer-ul .f-left ul li {
  height: 28px;
  width: 115px;
  float: left;
}

#goodslist .footer .footer-ul .f-left ul li a {
  font-size: 14px;
  color: #000;
}

#goodslist .footer .footer-ul .f-left ul li a:hover {
  text-decoration: underline;
}

#goodslist .footer .footer-ul .f-center {
  float: left;
  text-align: center;
}

#goodslist .footer .footer-ul .f-center .f-logo {
  position: relative;
  width: 550px;
  height: 240px;
  background: url(../images/index/footer-logo.png) no-repeat 100%;
}

#goodslist .footer .footer-ul .f-center .f-logo .weibo {
  position: absolute;
  top: 107px;
  height: 20px;
  cursor: pointer;
  left: 91px;
}

#goodslist .footer .footer-ul .f-center .f-logo .ewm1 {
  position: absolute;
  left: -133px;
  top: -50px;
  width: 126px;
  height: 120px;
  display: none;
}

#goodslist .footer .footer-ul .f-center .f-logo .ewm1 img {
  width: 100%;
  height: 100%;
}

#goodslist .footer .footer-ul .f-center .f-logo .weibo:hover span {
  text-decoration: underline;
}

#goodslist .footer .footer-ul .f-center .f-logo .weibo:hover .ewm1 {
  display: block;
}

#goodslist .footer .footer-ul .f-center .f-logo .weixin:hover span {
  text-decoration: underline;
}

#goodslist .footer .footer-ul .f-center .f-logo .weixin:hover .ewm1 {
  display: block;
}

#goodslist .footer .footer-ul .f-center .f-logo .weixin {
  position: absolute;
  top: 107px;
  height: 20px;
  cursor: pointer;
  left: 394px;
}

#goodslist .footer .footer-ul .f-right {
  margin-left: 207px;
  float: left;
}

#goodslist .footer .footer-ul .f-right h4 {
  margin-bottom: 26px;
}

#goodslist .footer .footer-ul .f-right ul li {
  height: 33px;
  position: relative;
}

#goodslist .footer .footer-ul .f-right ul li a {
  font-size: 14px;
  color: #000;
}

#goodslist .footer .footer-ul .f-right ul li .ewm {
  position: absolute;
  left: -133px;
  top: -50px;
  width: 126px;
  height: 120px;
  display: none;
}

#goodslist .footer .footer-ul .f-right ul li .ewm img {
  width: 100%;
  height: 100%;
}

#goodslist .footer .footer-ul .f-right ul li a:hover {
  text-decoration: underline;
}

#goodslist .footer .footer-ul .f-right ul li:hover .ewm {
  display: block;
}

#goodslist .footer .footer-inf {
  margin-top: 40px;
  font-size: 14px;
}

#goodslist .footer .footer-inf p {
  margin-bottom: 20px;
}

#goodslist .footer .footer-inf p span {
  margin-right: 30px;
}

#goodslist .footer .footer-inf p a {
  float: left;
  width: 108px;
  height: 40px;
  margin-right: 30px;
}

#goodslist .footer .footer-inf p a img {
  width: 100%;
  height: 100%;
}

#goodslist .gdewm {
  position: fixed;
  left: 50%;
  bottom: 13px;
  margin-left: -600px;
  width: 120px;
  height: 164px;
  z-index: 100;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
}

#goodslist .gotop {
  width: 40px;
  height: 35px;
  position: fixed;
  right: 2%;
  bottom: 20%;
  z-index: 99;
  display: none;
  cursor: pointer;
  background: #fff url(../images/goodslist/fixedtop1.png) no-repeat -52px -2px;
}

#goodslist .gotop:hover {
  background: #000 url(http://pic16.secooimg.com/imagesNew/searchList/fixedtop1.png) no-repeat left -2px;
}
