.content {
    width: 1200px;
    margin: auto;
    height: 100%;
}

body {
    background: #ededed;
}

.clearfix::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

#introduce {
    height: 100%;
    // border-bottom: 1px solid red;
    overflow: hidden;
    position: relative;

    .header {
        width: 100%;
        height: 130px;
        background: #fff;

        .content {
            position: relative;
        }

        h1 {
            position: absolute;
            font-size: 0;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .language {
            width: 86px;
            box-sizing: border-box;
            padding-left: 30px;
            height: 28px;
            border-right: 1px solid #cccccc;
            margin-top: 62px;
            position: relative;
            display: inline-block;

            span {
                font-size: 11px;
                line-height: 28px;
                vertical-align: middle;
            }

            i {
                display: inline-block;
                width: 0;
                height: 0;
                border: 4px solid transparent;
                border-top-color: black;
                vertical-align: middle;
                position: absolute;
                top: 12px;
                left: 60px;
            }
        }

        .language:hover {
            color: gold;
            cursor: pointer;
        }

        .language:hover i {
            border-top-color: gold;
        }

        .rmb {
            margin-left: 22px;
            font-size: 10px;
            color: #333333;
        }

        .denglu {
            margin-top: 62px;
            font-size: 0;

            span {
                display: inline-block;
                height: 28px;
                padding: 0 18px;
                border-right: 1px solid #cccccc;
                font-size: 12px;
                line-height: 28px;
                vertical-align: middle;

                a {
                    color: black;
                }

                a:hover {
                    text-decoration: underline;
                    color: gold;
                }
            }

            i {
                font-size: 22px;
                padding: 0 12px;
                vertical-align: middle;
            }

            i:hover {
                color: #ffb81c;
                cursor: pointer;
            }
        }
    }

    .nav {
        width: 100%;
        height: 50px;
        background: #000000;
        position: relative;

        .nav1 {
            height: 50px;
            width: 900px;
            float: left;

            li {
                float: left;
                height: 100%;

                // position: relative;
                a {
                    display: inline-block;
                    height: 100%;
                    width: 100%;
                    padding-right: 50px;
                    font-size: 14px;
                    color: #ffb81c;
                    line-height: 50px;
                    position: relative;
                }

                .nav-title::after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    border: 5px solid transparent;
                    border-bottom-color: white;
                    bottom: 0;
                    left: 10px;
                    display: none;
                }

                #shouye::after {
                    content: '';
                    border-bottom-color: transparent;
                }

                .nav2 {
                    position: absolute;
                    width: 100%;
                    background: white;
                    height: 20px;
                    padding: 40px 0 60px 0;
                    z-index: 10;
                    left: 0;
                    height: auto;
                    font-size: 0;
                    overflow: hidden;
                    display: none;
                    z-index: 15;

                    ul {
                        width: 1200px;
                        // background: skyblue;
                        margin: 0 auto;

                        .li1 {
                            width: 400px;
                            height: auto;
                            // background: skyblue;

                        }

                        .li2 {
                            width: 600px;
                            height: auto;
                            // background: greenyellow;
                        }

                        h4 {
                            font-size: 14px;
                            font-weight: 700;
                            margin-bottom: 25px;
                        }

                        a {
                            width: 200px;
                            height: 40px;
                            font-size: 13px;
                            color: #666;
                            padding: 0;
                            line-height: 14px;
                        }

                        a:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            li:hover .nav-title::after {
                display: inline-block;
            }

            li:hover .nav2 {
                display: block;
            }

            li:hover .nav-title {
                color: white;
            }
        }

        .search {
            // width: 200px;
            margin-top: 11px;
            height: 28px;
            // background: skyblue;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            // border-bottom: 1px solid white;

            span {
                flex: 1;
                text-align: right;
                font-size: 14px;
                color: #ffb81c;
                // display: none;
                // transition-delay: 0.5s;
            }

            i {
                display: inline-block;
                height: 28px;
                line-height: 28px;
                margin-left: 10px;
                font-size: 16px;
                color: #ffb81c;
                transition: all 0.5s;
            }

            input {
                // width: 200px;
                width: 0;
                height: 28px;
                background: #000000;
                color: #666;
                // display: none;
                transition: all 0.5s;
            }
        }


    }

    .smallNav {
        width: 100%;
        position: relative;

        .content {
            padding: 30px 0 20px;
            overflow: hidden;
            font-size: 12px;

            a {
                padding: 5px;
                color: #666;
            }
        }
    }

    .goodinf {

        .content {
            box-sizing: border-box;
            box-shadow: 0 2px 5px #ccc;
            padding: 40px 50px 12px 40px;
            background: #fff;

            .goodcont {
                float: right;
                width: 597px;
                min-height: 400px;
                overflow: hidden;
                // background: gold;

                .proName {
                    padding: 0 0 20px 20px;
                    border-bottom: 1px dashed #333333;

                    h2 {
                        width: 450px;
                        word-break: break-all;
                        word-wrap: break-word;
                        font-size: 20px;
                        font-weight: normal;
                        color: #323232;
                    }

                    h3 {
                        width: 450px;
                        word-break: break-all;
                        word-wrap: break-word;
                        font: normal 16px/24px "microsoft yahei";
                        color: #e93a38;
                    }
                }

                .proDetails {
                    padding: 15px 0 10px 20px;
                    color: #666666;
                    position: relative;
                    // z-index: 4;

                    .proList {
                        margin-bottom: 8px;

                        .pdt {
                            line-height: 42px;
                            height: 33px;
                            width: 60px;
                            padding-right: 17px;
                            font-size: 12px;
                            color: #666666;
                        }

                        .pdd {
                            min-height: 32px;
                            line-height: 42px;
                            width: 495px;
                            font-size: 12px;

                            span {
                                color: #e93a38;
                                font-size: 12px;
                                vertical-align: bottom;
                            }

                            strong {
                                font-size: 30px;
                                font-weight: 500;
                                color: #e93a38;
                                vertical-align: -6px;
                                // *vertical-align: -3%;
                                display: inline-block;
                                line-height: 28px;
                                // *line-height: 36px;
                                font-family: Tahoma;
                            }
                        }

                        .yh {
                            line-height: 22px;
                            width: 495px;

                            span {
                                font-size: 12px;
                                line-height: 22px;
                                color: #666666;

                                i {
                                    color: #e93a38;
                                }
                            }
                        }
                    }
                }

                .proList_box {
                    padding: 24px 0 0 20px;
                    color: #666666;
                    position: relative;
                    border-top: 1px dashed #333333;

                    .psize {
                        margin-bottom: 14px;

                        .pdt {
                            width: 60px;
                            padding-right: 17px;
                            line-height: 24px;
                            white-space: nowrap;
                            font-size: 12px;
                        }

                        .pdd {
                            line-height: 22px;
                            width: 495px;

                            ul {
                                margin: -6px 0 0 0px;
                                min-height: 35px;
                                position: relative;

                                li {
                                    border: 0 none;
                                    position: relative;
                                    margin: 0 10px 10px 0;
                                    float: left;
                                    // line-height: 30px;
                                    border: 2px solid #ccc;
                                    width: 30px;
                                    height: 30px;
                                    text-align: center;
                                    color: slateblue;
                                    cursor: pointer;
                                    // cursor: no-drop;

                                    img {
                                        width: 30px;
                                        height: 30px;
                                    }
                                }

                                .active {
                                    border: 2px solid slateblue;
                                }
                            }
                        }
                    }

                    .pNum {
                        margin-top: -4px;
                        margin-bottom: 8px;
                        font-size: 12px;
                        color: #666666;

                        .pdt {
                            width: 60px;
                            padding-right: 17px;
                            line-height: 24px;
                        }

                        .pdd {
                            line-height: 22px;
                            width: 495px;
                            font-size: 0;

                            #addbtn,
                            #subbtn {
                                width: 21px;
                                height: 22px;
                                cursor: pointer;
                                font-size: 16px;
                                color: #333333;
                            }

                            #addbtn:hover,
                            #subbtn:hover {
                                background: slateblue;
                                color: white;
                            }

                            #goodnum {
                                border: 0 none;
                                // display: block;
                                width: 34px;
                                height: 22px;
                                line-height: 22px;
                                text-align: center;
                            }

                            span {
                                margin-left: 20px;
                                font-size: 12px;
                                line-height: 22px;
                                color: #666666;

                                i {
                                    color: #e93a38;
                                }
                            }
                        }
                    }

                    .buya {
                        display: inline-block;
                        color: #666;
                        font-size: 16px;
                        width: 160px;
                        height: 45px;
                        margin: 10px 20px 20px 0;
                        line-height: 45px;
                        text-align: center;
                    }

                    .a1 {
                        background: #e93a38;
                        color: #fff;
                    }

                    .a2 {
                        background: white;
                        border: 1px solid #e93a38;
                        color: #e93a38;
                    }
                }
            }
        }
    }

    .goodshow {
        padding-top: 30px;
        width: 1210px;
        margin: 0 auto 30px;

        .showleft {
            width: 200px;
            padding: 0 5px;


            h3 {
                height: 36px;
                width: 100%;
                line-height: 36px;
                text-align: center;
                color: #fff;
                background-color: #333333;
            }

            .zuji {
                box-shadow: 0 2px 5px #ccc;
                margin-bottom: 15px;
                width: 200px;
                border-top: 0;
                background-color: #fff;

                ul {
                    padding-bottom: 10px;
                    width: 160px;
                    margin: 0 auto;

                    li {
                        width: 150px;
                        margin: 0 auto;
                        border-top: 1px solid #f1f1f1;
                        padding: 10px 0;
                        position: relative;

                        .fl {
                            margin-top: 10px;

                            img {
                                width: 50px;
                                height: 50px;
                            }
                        }

                        .fr {
                            width: 90px;

                            p {
                                height: 36px;
                                line-height: 18px;
                                padding-top: 5px;
                                color: #656565;
                                font-size: 12px;
                                overflow: hidden;
                                cursor: pointer;
                            }

                            p:hover {
                                text-decoration: underline;
                                color: skyblue;
                            }

                            span {
                                display: inline-block;
                                color: #656565;
                                padding-top: 5px;
                                font-size: 12px;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }

        .showright {
            width: 970px;
            overflow: hidden;
            padding: 0 5px;

            .right-list {
                z-index: 10;

                ul {
                    li {
                        color: #fff;
                        height: 36px;
                        line-height: 36px;
                        text-align: center;
                        float: left;
                        width: 151px;
                        position: relative;
                        cursor: pointer;
                        background-color: #333333;
                        border-right: 1px solid #fff;
                        font-size: 12px;
                    }

                    .active {
                        background-color: #7f69b3;
                    }

                    li:hover {
                        background-color: #7f69b3;
                    }

                    .addcar {
                        width: 210px;
                        height: 36px;
                        background: #e93a38;
                        color: #fff;
                    }

                    .addcar:hover {
                        background: #e93a00;
                    }
                }
            }

            .right-cont {
                box-shadow: 0 2px 5px #ccc;
                background: #fff;
                margin-bottom: 30px;

                div {
                    padding: 0 30px;
                    display: none;
                    // height: 1000px;
                }
            }


        }
    }

    .footer {
        height: 490px;
        background: #ffb81c;
        padding-top: 40px;
        font-size: 16px;

        .footer-ul {
            width: 100%;

            .f-left {
                width: 325px;
                float: left;

                h4 {
                    margin-bottom: 26px;
                }

                ul {
                    li {
                        height: 28px;
                        width: 115px;
                        float: left;

                        a {
                            font-size: 14px;
                            color: #000;
                        }

                        a:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            .f-center {
                float: left;
                // background: green;
                text-align: center;

                .f-logo {
                    position: relative;
                    width: 550px;
                    height: 240px;
                    background: url(../images/index/footer-logo.png) no-repeat 100%;

                    .weibo {
                        position: absolute;
                        top: 107px;
                        height: 20px;
                        cursor: pointer;
                        left: 91px;
                    }

                    .ewm1 {
                        position: absolute;
                        left: -133px;
                        top: -50px;
                        width: 126px;
                        height: 120px;
                        display: none;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .weibo:hover span {
                        text-decoration: underline;
                    }

                    .weibo:hover .ewm1 {
                        display: block;
                    }

                    .weixin:hover span {
                        text-decoration: underline;
                    }

                    .weixin:hover .ewm1 {
                        display: block;
                    }

                    .weixin {
                        position: absolute;
                        top: 107px;
                        height: 20px;
                        cursor: pointer;
                        left: 394px;
                    }
                }
            }

            .f-right {
                margin-left: 207px;
                float: left;

                h4 {
                    margin-bottom: 26px;
                }

                ul {
                    li {
                        height: 33px;
                        position: relative;

                        a {
                            font-size: 14px;
                            color: #000;
                        }

                        .ewm {
                            position: absolute;
                            left: -133px;
                            top: -50px;
                            width: 126px;
                            height: 120px;
                            display: none;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        a:hover {
                            text-decoration: underline;
                        }
                    }

                    li:hover .ewm {
                        display: block;
                    }
                }
            }
        }

        .footer-inf {
            margin-top: 40px;
            font-size: 14px;

            p {
                margin-bottom: 20px;

                span {
                    margin-right: 30px;
                }

                a {
                    float: left;
                    width: 108px;
                    height: 40px;
                    margin-right: 30px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .gdewm {
        position: fixed;
        left: 50%;
        bottom: 13px;
        margin-left: -600px;
        width: 120px;
        height: 164px;
        z-index: 10;
        // display: none;
        box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1)
    }

    .gotop {
        width: 40px;
        height: 35px;
        position: fixed;
        right: 2%;
        bottom: 20%;
        z-index: 10;
        display: none;
        cursor: pointer;
        background: #fff url(../images/goodslist/fixedtop1.png) no-repeat -52px -2px;
    }

    .gotop:hover {
        background: #000 url(http://pic16.secooimg.com/imagesNew/searchList/fixedtop1.png) no-repeat left -2px;
    }
}

#reg-mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 20;
}

#reg-tc {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 150px;
    background: white;
    box-shadow: 0 0 23px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    display: none;
    z-index: 21;
}

#reg-cha {
    position: absolute;
    font-size: 20px;
    right: 5%;
    top: 2%;
    cursor: pointer;
}

#reg-btn {
    position: absolute;
    bottom: 5%;
    left: 30%;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    transform: translateX(-50%);
    outline: none;
    border: none;
    box-shadow: 0 0 23px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: #fff;
    background: #f19108;
}

#reg-cont {
    font-size: 16px;
    color: #f19108;
    line-height: 26px;
    display: inline-block;
    margin-top: -20px;
}

#tc-zc {
    font-size: 12px;
    position: absolute;
    left: 50%;
    bottom: 10%;

}


#tc2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 200px;
    background: white;
    box-shadow: 0 0 23px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    display: none;
    z-index: 21;
    padding: 5px;

    h2 {
        position: absolute;
        height: 40px;
        width: 340px;
        top: 5px;
        left: 5px;
        background: slateblue;
        color: white;
        box-sizing: border-box;
        padding: 8px;

        .fl {
            line-height: 24px;
        }

        .fr {
            font-size: 24px;
            line-height: 24px;
            cursor: pointer;
        }
    }

    b {
        color: slateblue;
    }

    .tc2-btn {
        position: absolute;
        bottom: 15%;

        a {
            display: inline-block;
            background: #e93a38;
            color: white;
            width: 100px;
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            margin-right: 10px;
            vertical-align: middle;
        }

        #goshop {
            background: #ccc;
            color: #666;
        }
    }
}